<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>お問い合わせの一覧画面</title>
	<link th:href="@{/css/admin-contacts.css}" rel="stylesheet">
</head>
<body>
	<h1>お問い合わせ一覧</h1>
	<div class="container">

		<table>
			<thead>
				<tr>
					<th>お問い合わせID</th>
					<th>姓</th>
					<th>名</th>
					<th>お問い合わせ種別</th>
					<th>作成日時</th>
					<th>更新日時</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="contact : ${contactList}" th:object="${contact}">
					<td th:text="*{id}"></td>
					<td th:text="*{lastName}"></td>
					<td th:text="*{firstName}"></td>
					<td th:text="*{contactType}"></td>
					<td th:text="*{#dates.format(createdAt, 'yyyy/MM/dd HH:mm:ss')}"></td>
					<td th:text="*{#dates.format(updatedAt, 'yyyy/MM/dd HH:mm:ss')}"></td>
					<td>
						<a th:href="@{/admin/contact/{id}(id=*{id})}" class="edit-button">
							詳細
						</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>