<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>お問い合わせの詳細画面</title>
	<link th:href="@{/css/admin-contact.css}" rel="stylesheet">
</head>
<body>
	<h1>お問い合わせ内容の詳細</h1>
	<div class="container">
		<table th:object="${contact}">
			<tr>
			<td>お問い合わせID</td>
				<td>
					<span th:text="*{id}"></span>
				</td>
			</tr>
			<tr>
				<td>姓</td>
				<td>
					<span th:text="*{lastName}"></span>
				</td>
			</tr>
			<tr>
				<td>名</td>
				<td>
					<span th:text="*{firstName}"></span>
				</td>
			</tr>
			<tr>
				<td>メールアドレス</td>
				<td>
					<span th:text="*{email}"></span>
				</td>
			</tr>
			<tr>
				<td>電話番号</td>
				<td>
					<span th:text="*{phone}"></span>
				</td>
			</tr>
			<tr>
				<td>郵便番号</td>
				<td>
					<span th:text="*{zipCode}"></span>
				</td>
			</tr>
			<tr>
				<td>住所</td>
				<td>
					<span th:text="*{address}"></span>
				</td>
			</tr>
			<tr>
				<td>建物名</td>
				<td>
					<span th:text="*{buildingName}"></span>
				</td>
			</tr>
			<tr>
				<td>お問い合わせ種別</td>
				<td>
					<span th:text="*{contactType}"></span>
				</td>
			</tr>
			<tr>
				<td>お問い合わせ内容</td>
				<td>
					<span th:text="*{body}"></span>
				</td>
			</tr>

			<tr>
				<td>作成日時</td>
				<td th:text="*{#dates.format(createdAt, 'yyyy/MM/dd HH:mm:ss')}"></td>
			</tr>
			<tr>
				<td>更新日時</td>
				<td th:text="*{#dates.format(updatedAt, 'yyyy/MM/dd HH:mm:ss')}"></td>
			</tr>
		</table>
		<form th:action="@{/admin/contact/{id}/edit(id=${contact.id})}" method="get">
			<div class="buttons">
				<button class="back-button" type="submit" name = "action" value="back">
					戻る
				</button>
				<button class="action-button" type="submit">
				編集
				</button>
			</div>
		</form>
	</div>
</body>
</html>