<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>	管理者の新規登録画面</title>
<link th:href="@{/css/admin.css}" rel="stylesheet">
</head>
<body>
	<h1>管理者の新規登録</h1>
	<div class="container">
		<form th:action="@{/admin/register}" th:object="${adminForm}" method="post">
			<table>
				<tr>
				<tr>
					<td>姓</td>
					<td>
						<input type="text" th:field="*{lastName}">
						<span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" style="color: red;"></span>
					</td>
				</tr>
				<tr>
					<td>名</td>
					<td>
						<input type="text" th:field="*{firstName}">
						<span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" style="color: red;"></span>
					</td>
				</tr>
				<tr>
					<td>メールアドレス</td>
					<td>
						<input type="text" th:field="*{email}">
						<span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color: red;"></span>
					</td>
				</tr>
				<tr>
					<td>パスワード</td>
					<td>
						<input type="password" th:field="*{password}">
						<span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color: red;"></span>
					</td>
				</tr>
			</table>
			<div class="buttons">
				<button class="back-button" type="submit" name = "action" value="back">
					戻る
				</button>
				<button class="action-button" type="submit">
					登録
				</button>
			</div>
		</form>
	</div>
</body>
</html>